/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}





body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.nav {
	width:5px;
	display:inline;
	margin:5px;
	height:5px;
	word-spacing: 8em;
	font-family:helvetica;
	font-size:15px;
	color:#D3D3D3;
	padding:1%;
	background-color:purple;
}
.nav{
	margin-top:5px;
}

.logo {
	margin-top:20px;
	display:inline-block;

}

.heading{
	display:inline-block;
	font-family:sans-serif;
	margin:10%;
	padding:2%;
	font-size: 75px;
}

h1, br .heading  {
	text-align:center;
}

 h1 .heading {
	display:inline-block;
	margin: 25%;
	font-size: 20px;
	padding: 15px;
	font-size: 50px;

}

.header-right {

	border: 100px;
	display:inline;
	position:relative;
	left: 45%;

	padding:0px;

}



/*.first_img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%;

}
*/

.button{
	font-family: 'Sriracha', cursive;
	color:black;
	font-size: 20px;
	border: 1px solid black;
	width:150px;
	text-align:center;
	padding:2px;
	line-height:25px;
	margin:2px 5px 15px 5px;


}

#code_snip{
	display:inline-block;
	margin: 0 0 1% 1%;
	vertical-align:middle;
	float:left;
}
.top-content{
	width:690px;
	display:inline-block;
	margin:0 0 1% 1%;

}

.top-about {
	width: 700px;
	display:inline-block;
	margin:0 0 1% 1%;

}

.tops{
	display:inline
	vertical-align:top;
	margin-bottom:25px;
}
.middle-img {
	width:100vw;
	margin:0 1% auto;
}

.bottom-content{
	width: 462px;
	display: inline-block;
	margin: 0 0 1% 1%;

}

.more-content {
	width: 460px;
	display: inline-block;
	margin: 0 0 1% 1%;


}

.vision-content {
	width: 460px;
	display: inline-block;
	margin: 0 0 1% 1%;
	float:right;
}


#abt {
	text-align:right;
	display:inline;
}

hr {
	border:1px solid black;
}
.contact {
	width: 120px;
	padding:0 1% auto auto;
	margin: 0;
	line-height: 1em;
}

.address{
	margin:0 0 1% auto;
	padding: 0 0 0 0;
}



.phone {
	width:140px;
	padding: 0 1% auto auto;
	margin: 0;
}

footer {
	width:100vw;
	text-align:center;
}
